
.taskItems__section {
    display: flex;
    padding: 50px;
    margin: 20px;
    width: 75vw;
    justify-content: space-evenly;

}

.taskItems__header {
    margin-right: 100px;
}

.taskItems__completed {
    border: solid 2px lightgreen 
}

.taskItems__uncompleted {
    border: solid 2px red 
}