.rbc-off-range-bg {
    background: #747474 !important;
}

.rbc-off-range {
    color: white !important;
}

.rbc-date-cell.rbc-now {
    font-weight: bold;
    color: #ffe400 !important;
}

.rbc-today {
    background-color: transparent !important;
}