// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/bootstrap.scss";

.home {
    background-color: #272727 !important;
    color: #747474
}

.btn-success {
    background-color: #14A76C;
}

.btn-danger {
    background-color: #FF652F;
}
