.home {
    background-color: #272727 !important;
    color: #747474
}

.btn-success {
    background-color: #14A76C;
}

.btn-danger {
    background-color: #FF652F;
}

.home__createTask__transition-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .home__createTask__transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .home__createTask__transition-exit {
    opacity: 1;
  }
  .home__createTask__transition-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
