.introPage__body {
  display: flex;
  color: #727272;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.introPage__body > p {
    flex: 0.6;
  }

.introPage__body > img {
  object-fit: contain;
  width: 50%;
  padding: 5px;
  flex: 0.4;
}

.move_animation {
  position: relative;
  animation: rest 3s ease-in-out infinite;
}

@keyframes rest {
  0% {
    top: 0px;
  }
  /* 25% {top:50px;} */
  50% {
    top: 20px;
  }
  /* 75% {top: -50px;} */
  100% {
    top: 0px;
  }
}
